[submodule "language-app-base-plugin"]
	path = language-app-base-plugin
	url = https://github.com/viniciusfmunhoz/language-app-base-plugin
[submodule "sqs-consumer"]
	path = sqs-consumer
	url = https://github.com/viniciusfmunhoz/sqs-consumer
[submodule "os-test-plugin"]
	path = os-test-plugin
	url = git@github.com:viniciusfmunhoz/os-test-plugin.git
