[submodule "language-app-base-plugin"]
	path = language-app-base-plugin
	url = https://github.com/viniciusfmunhoz/language-app-base-plugin
[submodule "sqs-consumer"]
	path = sqs-consumer
	url = https://github.com/viniciusfmunhoz/sqs-consumer
